:root{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    margin-top: 50px;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.h1 {
    color: #2ecc71;
}